<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

<h1>CHAT</h1>

<div>
    <table id="dataTable">
    </table>
    <br/>
    <form id="chatForm">
        <input type="text" name="user" id="user" placeholder="Email" required>
        <input type="text" name="message" id="message" placeholder="Mensaje" required>
        <button type="submit">SEND</button>
    </form>
</div>

