<form action="/products" method="POST">

  <label for="title">Titulo:</label>
  <input type="text" id="title" name="title" /><br />

  <label for="code">code:</label>
  <input type="text" id="code" name="code" /><br />

  <label for="description">Descripcion:</label>
  <input type="text" id="description" name="description" /><br />

  <label for="price">Precio:</label>
  <input type="text" id="price" name="price" /><br />

  <label for="status">Estado:</label>
  <input type="text" id="status" name="status" /><br />

  <label for="stock">Stock:</label>
  <input type="text" id="stock" name="stock" /><br />

  <label for="category">Categoria:</label>
  <input type="text" id="category" name="category" /><br />

  <label for="thumbnail">Thumbnail:</label>
  <input type="text" id="thumbnail" name="thumbnail" /><br />

  <button type="submit" >Enviar</button>
</form>